<% if @ns then content_for :title, " - #{@ns.name}" end %>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$(".versions_nav").click(function() {
			$(".versions_nav ul").toggle()
		})
	})
</script>
<div class="container_20">
<div class="grid_3">
	<%= render :partial => 'lib_nav', :locals => {:lib => @library} %>
	<%= render :partial => '/lib_namespaces' %>
	&nbsp;
</div>
<div class="grid_12">
	<% if not @library.current %>
	<div class="version_warning">
		You're viewing version <%= @library.version %> of <%= @ns.name %>.  
		The latest stable version of <%= @ns.name %> is <%= Library.current_version_of(@library).version %>.
	</div>
	<% end %>
	
	<div class="versions_nav">
		<span>
			<%= @ns.version %> 
			<% if @ns.library.current && params[:version] %>
				permalink
			<% end %>
			<%= image_tag "arrow_down_16x16.png", :width => 16, :height => 16 %>
		</span>
		<ul>
			
		<% Namespace.versions_of(@ns).each do |n| %>
			<% 
				classes = []
				if @ns.library.version == n.library.version then classes << "selected" end
				if n.library.current then classes << "stable" end
			%>
			<li>
				<% if @ns.library.version == n.library.version && n.library.current && !params[:version]%>
					<%= link_to n.library.version + " permalink", n.link_opts(false), :class => classes.join(' ') %>
				<% else %>
					<%= link_to n.library.version, n.link_opts, :class => classes.join(' ') %>
				<% end %>
			</li>
		<% end %>
		</ul>
	</div>
	
	<% if @ns and @ns.doc != ""%>
	<div class="doc">
		<h3>DocString</h3>
                <div class="content">
                  <%= raw @ns.doc %>
                </div>
		<div class="copyright_license">
			<%= @library.copyright %>
			
			<%= (@library.license || "See <a href='#{@library.site_url}'>#{@library.site_url}</a> for copyright and license details.").html_safe %>
		</div>
	</div>
	<% end %>
</div>
<div class="grid_4 prefix_1">
  <%= render partial: "namespace_index", object: @ns %>
</div>
</div>
