<script type="text/javascript" charset="utf-8">
</script>

<div class="header">
  <div class="container_20">
    <div class="header_content">
      <div class="user_area">
        <div class="grid_20">
          <span class="main_nav">
            <a href="/quickref/overtone">quick ref</a>
            &nbsp;
            <a href="http://github.com/zkim/clojuredocs">github</a>
          </span>
            &nbsp;
            &nbsp;
          <span class="user_area_content">
              <% if current_user %>
                <%= image_tag(grav_url_for(current_user.email, 16), :class => 'user_area_gravatar') %>
                Logged in as <%= link_to current_user.email, :controller => 'user', :action => 'profile', :login => current_user.email %>
                |
                <a href="/logout">logout</a>
              <% else %>
                <a href="/login" id="login">login / sign up</a>
              <% end%>
          </span>
        </div>
        <div class="clear"></div>
		</div>
		<div class="grid_3">
		  <%= image_tag "golang.png", :class => 'cd_logo' %>
		</div>
		<div class="grid_5">
			<h1><a href="/">Go! Docs</a><span class="version">(beta)</span></h1>
		</div>
		<div class="grid_12">
			<div class="search">
				<%= form_tag '/search', :method => "GET" do %>
					<%= image_submit_tag 'magnifying_glass_alt_24x24.png', :class => 'submit_image', :height => '20px', :width => '20px' %>
					<input id="main_search" class="text_field" name="q" type="text" <%= (params[:q] ? "value=\"#{params[:q]}\"" : "")%> />
					<% if params[:lib] %>
						<input type="hidden" name="lib" value="<%= params[:lib] %>" />
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	</div>
	<div class="clear"></div>
</div>
<div class="header_filler"></div>
<div class="clear"></div>
